<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div class="container" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h2>Đăng Nhập</h2>
    <form th:action="@{/login}" method="post">
		<p>
			User name <input type="text" name="username" />
		</p>
		<p>
			Password <input type="password" name="password" />
		</p>

		<input type="submit" value="Dang Nhap" />
	</form>
	<p th:if="${e} == error">Tai khoan hoac mat khau sai !</p>
	<p th:if="${e} == deny">Tai khoan khong co quyen truy cap !</p>
    <h2>&nbsp;</h2>
  </div>
</div>
</body>
</html>